<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Profile.master.cs" Inherits="VirtualAdvisor.Profile" %>

<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <title><%: Page.Title %> - Virtual Advising Software</title>
    <asp:PlaceHolder ID="PlaceHolder1" runat="server">     
          <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>  
    <webopt:BundleReference ID="BundleReference1" runat="server" Path="~/Content/css" /> 
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
</head>
<body style="background: url('../Images/header-gd.png') no-repeat; background-size:100% 100%;">
    <form id="Form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
        <Scripts>
            <%--Framework Scripts--%>
            <asp:ScriptReference Name="MsAjaxBundle" />
            <asp:ScriptReference Name="jquery" />
            <asp:ScriptReference Name="jquery.ui.combined" />
            <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
            <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
            <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
            <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
            <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
            <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
            <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
            <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
            <asp:ScriptReference Name="WebFormsBundle" />
            <%--Site Scripts--%>

        </Scripts>
    </asp:ScriptManager>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img alt="VAS" src="Images/vasLogo3.png" style="width: 500px" />
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    <asp:LoginView ID="LoginView1" runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul>
                                <li><a id="registerLink" runat="server" href="~/Register.aspx">Register</a></li>
                                <li><a id="loginLink" runat="server" href="~/Login.aspx">Log in</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <p>
                                Hello, <a id="A1" runat="server" class="username" href="~/CareerGuidance.aspx" title="Your Profile">
                                <asp:LoginName ID="LoginName1" runat="server" CssClass="username" /></a>!
                                <a id="A2" runat="server" href="~/UpdateInfo.aspx">Account Settings</a>
                                <asp:LoginStatus ID="LoginStatus1" runat="server" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" />
                            </p>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </section>
                <nav>
                    <ul id="menu">
                        <li><a id="A3" runat="server" href="~/">Home</a></li>
                        <li><a id="A4" runat="server" href="~/About.aspx">About</a></li>
                        <li><a id="A5" runat="server" href="~/Contact.aspx">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div>
<%--        <img src="../Contact_imgs/boy_default_s.jpg" style="height: 145px; float: left; padding-right:40px; padding-left:90px; width: 150px" />--%>

        <asp:Image runat="server" Style="height: 145px; float: left; padding-right: 40px; padding-left: 90px; width: 150px;" ID="userImg"  />
        <p>
        <asp:LoginName ID="LoginName1" runat="server" CssClass="username" />
        <br />
        <br />
        <asp:Label runat="server" ID="lblSchool" Text ="School: "></asp:Label>
        
        <br />
        <br />
        <asp:Label runat="server" ID="lblLevelofEd" Text ="Level of Education: " ></asp:Label>
        </p>

        <br />
        <br />
        <br />

        <nav>
            <ul id="menu2">
                <li><a id="A6" runat="server" href="~/Survey.aspx">Survey</a></li>
                <li><a id="A7" runat="server" href="~/CareerGuidance.aspx">Career Guidance</a></li>
                <li><a id="A8" runat="server" href="~/SearchInternships.aspx">Search Internships</a></li>
                <li><a id="A9" runat="server" href="~/ClassRatings.aspx">Class Ratings</a></li>
             </ul>
        </nav>
    </div>

    </header>

    <div id="body">
        <asp:ContentPlaceHolder runat="server" ID="FeaturedContent" />
        <section class="content-wrapper clear-fix">
            <asp:ContentPlaceHolder runat="server" ID="MainContent" />
        </section>
    </div>
    
        <div id="footer" class="content-wrapper">
           
            <div class="float-left">
                <p>&copy; <%: DateTime.Now.Year %> - Virtual Advising System</p>
            </div>
        </div>
    
    </form>
</body>
</html>
